<section class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h2 class="texto text-uppercase">Principales productos</h2>
      <h2 class="text-capitalize">Estos son los productos mas deseados de nuestra plataforma</h2>
      <p class="text-muted h5 mb-4 mt-2">
        El arte y la tecnologia respaldada en blockchain son los principales
        temas de subastas en nuetra plataforma y es con estos temas en los que mas
        se discuten en los foros.
      </p>
    </div>
    <!-- tarjetas -->

    <!-- tarjeta 1 -->
    <article class="col-4 card-effect">
      <div class="card">
        <img src="../../../../../assets/Images/Cuadro.jpg" alt="Pinturas" class="card-img card-img-filter">
        <div class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
          <h4>Pinturas</h4>
          <p>
            Las pinturas son piezas de arte que nuestros clientes suelen
            subastar constantemente.
          </p>
          <a href="#" [routerLink]="['/Subastas']" class="text-reset">Saber mas</a>
        </div>
      </div>
    </article>

    <!-- tarjeta 2 -->
    <article class="col-4 card-effect">
      <div class="card">
        <img src="../../../../../assets/Images/Jarron.jpg" alt="Jarrones" class="card-img card-img-filter">
        <div class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
          <h4>Jarrones</h4>
          <p>
            Los jarrones son piezas de ceramica que los compradores le colocan un alto
            nivel.
          </p>
          <a href="#" class="text-reset">Saber mas</a>
        </div>
      </div>
    </article>

    <!-- tarjeta 3 -->
    <article class="col-4 card-effect">
      <div class="card">
        <img src="../../../../../assets/Images/Criptos.jpg" alt="Criptos" class="card-img card-img-filter">
        <div class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
          <h4>Criptomonedas y NFT's</h4>
          <p>
            Las Criptomonedas y los nft's son de los
            mas deseados en nuestra plataforma.
          </p>
          <a href="#" class="text-reset">Saber mas</a>
        </div>
      </div>
    </article>


  </div>
</section>
