<app-navbar></app-navbar>

<div class="container">
  <div class="profile-box">
    <app-dashboard></app-dashboard>

    <div class="card">
      <div class="table-title">
          <h2>Lista de productos subastados</h2>
      </div>
      <div class="table-concept"><input class="table-radio" type="radio" name="table_radio" id="table_radio_0" checked="checked" />
          <div class="table-display">Mostrando {{sizeProductos}} resultados</div>
          <table>
              <thead>
                  <tr>
                      <th>No</th>
                      <th>NOMBRE</th>
                      <th>CATEGORIA</th>
                      <th>AUTOR</th>
                      <th>DESCRIPCION</th>
                      <th>VALORACION</th>
                      <th>ESTADO</th>
                      <th>TIPO</th>
                      <th>ACCIONES</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let producto of productos | slice: (page-1) * pageSize : page * pageSize">
                      <td>{{producto.idproducto}}</td>
                      <td>{{producto.nombre}}</td>
                      <td>{{producto.categoria}}</td>
                      <td>{{producto.autor}}</td>
                      <td>{{producto.descripcion}}</td>
                      <td>{{producto.valoracionAutor|currency:"COP":'symbol-narrow':'3.0'}}</td>
                      <td *ngIf="producto.estado === 'A'; else elseBlock">Activo</td>
                      <ng-template #elseBlock>
                        <td>Cerrado</td>
                      </ng-template>
                      <td>{{producto.tipoDeSubasta}}</td>
                      <td>
                        <button mat-fab color="primary" title="Ver clientes que han subastado" (click)="mandarProducto(producto)">
                            <mat-icon>timeline</mat-icon>
                        </button>&nbsp;
                        <button mat-fab color="warn" title="Cerrar subasta" (click)="cerrarSubasta(producto)" *ngIf="producto.estado === 'A'; else elseBlock2">
                          <mat-icon>close_fullscreen</mat-icon>
                        </button>
                      <ng-template #elseBlock2>
                        <button mat-fab color="warn" title="Cerrar subasta" disabled="">
                          <mat-icon>close_fullscreen</mat-icon>
                        </button>
                      </ng-template>
                      </td>
                  </tr>

              </tbody>

          </table>
          <ngb-pagination
          class="paginador"
          [(page)]="page"
          [pageSize]="pageSize"
          [collectionSize]="sizeProductos"></ngb-pagination>
      </div>
  </div>

    </div>
  </div>
