<!-- Slides -->
  <div class="carousel-inner">

    <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
      <ol class="carousel-indicators">
        <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselId" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselId" data-bs-slide-to="2"></li>
        <li data-bs-target="#carouselId" data-bs-slide-to="3"></li>
        <li data-bs-target="#carouselId" data-bs-slide-to="4"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <img src="../../../../../assets/Images/Cuadro.jpg" alt="First slide" >
          <div class="carousel-caption d-none d-md-block ">
            <h3>Cuadros</h3>
            <p>Nuestros clientes ofrecen una amplia gama de cuadros que subastar.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../../../../assets/Images/Criptocurrency.jpg" alt="Second slide" >
          <div class="carousel-caption d-none d-md-block ">
            <h3>Criptomonedas</h3>
            <p>Si haces transacciones con bitcoin u otro tipo de monedas,
              nuestra plataforma esta especializada en todo el mundo del blockchain.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../../../../assets/Images/Dolares.jpg" alt="Third slide" >
          <div class="carousel-caption d-none d-md-block ">
            <h3>Monedas locales</h3>
            <p>Nuestra plataforma acepta mas de 15 monedas locales.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../../../../assets/Images/Compra.jpg" alt="Fourth slide" >
          <div class="carousel-caption d-none d-md-block ">
            <h3>Desde cualquier parte</h3>
            <p>Puedes acceder a nuestra plataforma desde cualquier parte del planeta.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../../../../assets/Images/Transaccion.jpg" alt="Fourth slide" >
          <div class="carousel-caption d-none d-md-block ">
            <h3>Transacciones encriptadas</h3>
            <p>Contamos con transacciones encriptadas de extremo a extremo para proteger tus
              datos contra ciberataques.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div>
