<app-navbar></app-navbar>

<div class="container">
  <div class="profile-box">
    <app-dashboard></app-dashboard>
    <form [formGroup]="categoriaForm" class="direccion-form">
      <div class="col-3 input-effect">
        <p class="atributo">Categoria</p>
        <input class="effect-16" formControlName="categoria" type="text" minlength="4" maxlength="25" required>
        <span class="focus-border"></span>
      </div>
      <button class="submit" (click)="crearCategoria()">Crear Categoria</button>
    </form>
  </div>
</div>
