<header class="header">
  <div class="container vh-50 ">

    <!-- Navbar -->
    <nav class="row text-white justify-content-between align-items-center text-uppercase ">
    <!-- Logo -->
    <a href="#" class="col-auto text-reset">
      <img src="../../../../../assets/Logos/Betleague_inicio.png" alt="Logo Betleague" class="img-logo">
      BetLeague
    </a>
    <!-- Anclas -->
    <div class="col-auto">
      <a [routerLink]="['Subastas']" href="#" class="text-reset pr-3">Subastas</a>
      <a *ngIf="loggeado === false ; else elseBlock" [routerLink]="['Auth/Login']" routerLinkActive="active" class="text-reset">Ingresar</a>
      <ng-template #elseBlock>
        <label>¡Hola! {{cliente.nombre}}
          <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
          <mat-menu #menu="matMenu" >
            <!-- Anclas clientes -->
            <button mat-menu-item [routerLink]="['Dashboard/userProfile']" *ngIf="rol === 'C'">Ver perfil</button>
            <button mat-menu-item [routerLink]="['Dashboard/editUserInfo']" *ngIf="rol === 'C'">Modificar datos</button>
            <button mat-menu-item [routerLink]="['addProduct']" *ngIf="rol === 'C'">Subastar un producto</button>
            <button mat-menu-item [routerLink]="['/paymentDetails']" *ngIf="rol === 'C'">Añadir metodos de pago</button>
            <button mat-menu-item [routerLink]="['/Dashboard/metodosList']" *ngIf="rol === 'C'">Ver metodos de pago</button>
            <!-- Anclas administradores -->
            <button mat-menu-item [routerLink]="['/usuarioList']" *ngIf="rol === 'A'">Ver usuarios</button>
            <button mat-menu-item [routerLink]="['/Dashboard/subastasList']" *ngIf="rol === 'A'">Ver subastas</button>
            <button mat-menu-item [routerLink]="['/Dashboard/addCategoria']" *ngIf="rol === 'A'">Crear categoria</button>
            <button mat-menu-item (click)="cerrarSesion()">Cerrar sesion</button>
          </mat-menu>
        </label>
      </ng-template>
    </div>
    </nav>
    <!-- Descripcion -->
    <div class="row h-100 align-items-center">
      <div class="col-6 text-white">
        <!-- titulo -->
        <h1 class="text-capitalize">
          <span class="both h4">Un mundo de opciones</span> <br>
          hasta tu puerta
        </h1>
        <!-- Descripcion -->
        <p>
          Somos una empresa encargada de brindarte un mundo <br>
            completo de articulos de cualquier tipo, subastados<br>
          por personas de todo el mundo hasta la puerta de tu casa.
        </p>
        <!-- Btn -->
        <a href="#" class="text-reset btn btn-warning botonCompra both" [routerLink]="['Subastas']">Mira nuestros productos</a>
      </div>
    </div>
  </div>
  <img src="../../../../../assets/Images/cut-header.svg" alt="">
</header>

