<app-navbar></app-navbar>

<body>

  <div class = "card-wrapper">
    <div class = "card">
      <!-- card left -->
      <div class = "product-imgs">
        <div class = "img-display">
          <div class = "img-showcase">
            <img src = {{producto.foto}} alt = "shoe image">
          </div>
        </div>

      </div>
      <!-- card right -->
      <div class = "product-content">
        <h2 class = "product-title">{{producto.nombre}}</h2>
        <a class = "product-link" [routerLink]="'/Subastas'">Ver otros productos</a>
        <div class = "product-rating">
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star-half-alt"></i>
          <span>4.7(21)</span>
        </div>

        <div class = "product-price">
          <p class = "new-price">Precio: <span>{{producto.valoracionAutor|currency:"COP":'symbol-narrow':'3.0'}}</span></p>
        </div>

        <div class = "product-detail">
          <h2>Descripcion: </h2>
          <p>{{producto.descripcion}}</p>
          <ul>
            <li>Autor: <span>{{producto.autor}}</span></li>
            <li>Disponibilidad: <span>Disponible</span></li>
            <li>Categoria: <span>{{producto.categoria}}</span></li>
            <li>Valoracion autor: <span>{{producto.valoracionAutor|currency:"COP":'symbol-narrow':'3.0'}}</span></li>
            <li>Costo de envio: <span>Gratis a cualquier parte de Colombia</span></li>
          </ul>
        </div>

        <div class = "purchase-info" *ngIf="comparacio === true; else elseBlock2">
          <input type = "number" min = "0" [(ngModel)]='precioCliente' value = {{precioCliente}}>
          <button type = "button" class = "btn">
            Ofertar <i class = "fas fa-shopping-cart"></i>
          </button>
          <button type = "button" class = "btn" (click)="comparacion()">Comparar</button>
        </div>

        <ng-template #elseBlock2>
          <p>No puede ofertar en su propia subasta</p>
          <p>{{producto.autor}}-{{comparacio}}</p>
        </ng-template>

        <div class = "social-links">
          <mat-chip-list aria-label="Tags">
            <mat-chip color="white" selected>&nbsp;{{producto.autor}}&nbsp;</mat-chip>
            <mat-chip color="white" selected>&nbsp;{{producto.categoria}}&nbsp;</mat-chip>
            <mat-chip color="white" selected>&nbsp;Envios gratuitos a todo Colombia&nbsp;</mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </div>
  </div>
